@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --cor0: #fdf74f;
    --cor1: #000000;
    --cor2: #14b557;
    --cor3: #fff700;
    --cor4: #0366c2;
    --cor5: #ffffff;
    --cor6: #dad8d5;
    
    --font0: 'Poppins', 'arial';
}

.main-jogadores {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--cor5);
}

.container-position-centro {
    display: inline-block;
    width: 100%;
    max-width: 1600px;
    padding: 10px 15px;
}

.container-position-direita {
    width: 100%;
    max-width: 1600px;
}

.container-position-esquerda {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 1600px;
}

.container-jogadores {
    display: inline-block;
    margin: 20px 0;
}

.jogador {
    background-color: var(--cor5);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    padding: 20px;
    transition: all 300ms; 
}

.jogador:hover {
    transform: scale(1.03);
}

.faixa-jogador {
    position: absolute;
    background-color: var(--cor4);
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
}

.texto {
    max-width: 400px;
    font-family: var(--font0);
    color: var(--cor1);
    margin: 0px 50px 0px 10px;

    text-align: justify;
}
   
.texto > h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.texto > p {
    font-size: 17px;
}

.imagem {
    display: flex;
    justify-content: center;
}

.imagem > a > img {
    max-width: 100%;
    width: 390px;
    background: url(../img/neymarjr.jpeg) center center no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.214);
    border: 3px solid var(--cor3); 
}