@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --cor0: #fdf74f;
    --cor1: #000000;
    --cor2: #14b557;
    --cor3: #fff700;
    --cor4: #0366c2;
    
    --font0: 'Poppins', 'arial';
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.523);
    display: flex;
    justify-content: center;
}

.container-header {
    width: 100%;
    max-width: 1920px;
    grid-area: header;
    background-color: var(--cor0);
    padding: 25px;
    position: relative;
    align-items: center;
    height: 130px;
}

.logo-top {
    display: inline-block;
    position: absolute;
}

.rumo-ao-hexa {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
}

.container-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu > ul {
    display: flex;
    justify-content: center;
}

span > a {
    color: var(--cor2);
}

.faixa-top {
    height: 8px;
    width: 30vw;
    min-width: 130px;
    max-width: 250px;
    background-color: var(--cor2);
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 0px solid transparent;
}

/*botão-top*/
.cta {
    border: none;
    background: none;
    font-family: var(--font0);
    font-weight: 500;
    margin: 0 20px;
    cursor: pointer;
}
  
.cta span {
    padding-bottom: 7px;
    letter-spacing: 0px;
    font-size: 17px;
}
  
.hover-underline-animation {
    position: relative;
    color: var(--cor2);
    padding-bottom: 20px;
}
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--cor4);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/*botão-top*/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--cor2);
    width: 100%;
    padding: 50px 0;
    font-family: var(--font0);
    color: white;
}

.logo-footer {
    margin: 20px 100px;
}

.lista-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    margin: 30px;
}

.coluna {
    padding: 20px;
}

.coluna > h1 {
    letter-spacing: 1.1px;
    font-size: 15px;
    margin-bottom: 15px;
    cursor: pointer;
} 

.coluna > h1:hover {
    text-decoration: underline;
} 

.coluna > p {
    font-weight: lighter;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 6px;
} 

.coluna > p:hover {
    text-decoration: underline;
} 

.taca {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    margin: 30px;
    transition: all 300ms; 
}

.taca:hover {
    transition: all .3s;
    transform: scale(1.20);
}