@charset "UTF-8";

:root {
    --cor0: #fdf74f;
    --cor1: #07286F;
    --cor2: #14b557;
    --cor3: #4BFE23;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: var(--cor1);
}